<form class="order-form">
  <section class="order-form__block">

    <label class="order-form__block__label">Представтесь*</label>
    <input class="order-form__block__input" placeholder="Иван Иванович Иванов">

    <label class="order-form__block__label">Телефон*</label>
    <input class="order-form__block__input" placeholder="+7(ХХХ)ХХХ-ХХ-ХХ">

    <label class="order-form__block__label">E-mail*</label>
    <input class="order-form__block__input" placeholder="Иван Иванович Иванов">

  </section>

  <section class="order-form__block">

    <label class="order-form__block__label">Период*</label>

    <input class="order-from__block__radio" type="radio" name="duration" value="3">3 месяца    
    <input class="order-from__block__radio" type="radio" name="duration" value="6">6 месяцев
    <input class="order-from__block__radio" type="radio" name="duration" value="12">1 год

    <label class="order-form__block__label">Реквизиты*</label>
    <textarea id="order-form__block__textarea"></textarea>   
  </section>

  <section class="order-form__block">
    
    <div class="order-from__block__warning">
      <span onclick="this.parentElement.style.display='none';">&times;</span>
      Внимание! Необходимо заполнить все обязательные поля!
    </div>

    <div class="order-from__block__error">
      <span onclick="this.parentElement.style.display='none';">&times;</span>
      Ошибка! Неверный ответ сервера!
    </div>

    <div class="order-from__block__success">
      <span onclick="this.parentElement.style.display='none';">&times;</span>
      Ваша заявка отправлена, с вами свяжутся в ближайшее время!
    </div>

    <button id="footer__button">Купить</button>
  </section>
  
</form>