<form class="order-form">
  <section class="order-form__header">

    <section class="block">
      <label class="block__label">Представтесь*<input class="block__input" name="name" type="text" placeholder="Иван Иванович Иванов"></label>
      
      <label class="block__label">Телефон*<input class="block__input" name="phone" type="phone" placeholder="+7(ХХХ)ХХХ-ХХ-ХХ"></label>
      
      <label class="block__label">E-mail*<input class="block__input" name="email" type="email" placeholder="Иван Иванович Иванов"></label>
      
    </section>

    <section class="block">
      <label class="block__label">Период*</label>
      <div class="radio">
        <label><input class="block__radio" type="radio" name="duration" value="3">3 месяца<span></span></label>    
        <label> <input class="block__radio" type="radio" name="duration" value="6">6 месяцев<span></span></label> 
        <label><input class="block__radio" type="radio" name="duration" value="12">1 год<span></span></label> 
      </div>

      <label class="block__label">Реквизиты*<textarea class="block__textarea" name="text"></textarea>  </label>       

    </section>
    
  </section>

  <section class="order-form__footer">

    <div class="block__warning">
      <span class="block__closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Внимание! Необходимо заполнить все обязательные поля!
    </div>

    <div class="block__error">
      <span class="block__closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Ошибка! Неверный ответ сервера! Попробуйте позже.
    </div>

    <div class="block__success">
      <span class="block__closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Ваша заявка отправлена, с вами свяжутся в ближайшее время!
    </div>

    <button id="footer__button">Купить</button>
  </section>
  
</form>