$primary-color: #333;

@font-face {
  font-family: pfdintextpro-regular;  
  src: url(../../fonts/pfdintextpro-regular-webfont.woff);
}

body {
  color: $primary-color;
  font-family: pfdintextpro-regular;
}

