$gray-light-color: #e9f1f7;
$gray-medium-color: #e6e6e6;
$orange-medium-color: #fa7e0d;
$orange-dark-color: #fc7204;
$blue-medium-color: #3dc5ed;


@font-face {
  font-family: pfdintextpro-light;  
  src: url(../../fonts/pfdintextpro-light-webfont.woff);
}
@font-face {
  font-family: pfdintextpro-medium;  
  src: url(../../fonts/pfdintextpro-medium-webfont.woff);
}


@mixin block ($width) {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: $width;
  margin-top: 15px;
  margin-bottom: 15px;
}

@mixin closebtn ($color) {
  position: relative;
  left: 13px;
  top: -20px;
  font-size: 18px;
  color: $color;
  font-weight: bold;
  float: right;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    left: 14px;
    font-size: 22px;
    font-weight: lighter;
    color: darken($color, 20%);
  }
  @media screen and (max-width: 780px) {
    font-size: 20px;
    left: 4px;
    top: -10px;
    &:hover {
      font-size: 20px;
      left: 4px;
      top: -10px;
      color: darken($color, 20%);
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

body {
  font-family: pfdintextpro-light;
  color: #002d3e;
}

#footer__button {
  font-size: 24px;
  width: 220px;
  height: 80px;
  background-color: #f88916;
  color: white;
  border: 10px solid  $gray-light-color;
  border-radius: 40px;
  margin: 28px;
  outline: none;
  @media screen and (max-width: 780px) {
    margin-top: 18px;
    width: 170px;
    height: 65px;
    font-size: 16px;
  }
}

.header {
  
  font-size: 21px;
  min-width: 700px;  

  @include block (700px);
  margin-top: 90px;
  h1 {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 0px;
    font-family: pfdintextpro-medium;
  }
  p {
    margin-top: 6px;
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 0px;
    font-weight: lighter;
    font-size: 34px;
  }
  @media screen and (max-width: 780px) {
    min-width: 320px;
    @include block (320px);        
    margin-top: 70px;
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    h2 {
      margin-top: 10px;
      font-size: 24px;
      font-weight: 400;
    }
  }
}

.order-form {
  color: #00202f;
  @include block (700px);
  @media screen and (max-width: 780px) {
    @include block (320px);
    margin-top: 10px;
  }
  margin-top: 9px;
}

.block__label {
  display: block;
  font-size: 16px;
  margin-top: 19px;
  @media screen and (max-width: 780px) {
    margin-left: 15px;
    margin-top: 22px;
    font-size: 14px;
  }
}

.order-form__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  @media screen and (max-width: 780px) {
    display: flex;
    flex-direction: column; 
  }
}

.block {
  text-align: left;
  display: flex;
  flex-direction: column;    
  width: 330px;
  margin-top: 0px;
}

.block__input {
  display: block;
  margin-top: 6px;
  padding-left: 15px;
  font-size: 16px;
  height: 44px;
  width: 313px;
  border: 1px solid $gray-medium-color;
  border-radius: 5px;
  &:focus {
    outline: none;
    border: 1px solid $blue-medium-color;
  }
  &:hover {
    outline: none;
    cursor: pointer;
  }
  @include placeholder {
    color: transparent;
  }
  @media screen and (max-width: 780px) {
    width: 272px;
    margin-bottom: 1px;
  }
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  border: 1px solid $gray-medium-color;
  border-left: none;
  border-right: none;    
  height: 44px;
  width: 330px;
  line-height: 44px;

  input[type='radio'] {
    display: none;
  }

  label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 10px 0 0;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    border: 1px solid $gray-medium-color;
    background-color: transparent;
  }

  label {
    position: relative;
    margin-right: 25px;
    @media screen and (max-width: 780px) {
      margin-right: 15px;
    }
  }
  
  label input[type='radio']:checked+span {
    position: absolute;    
    border-radius: 11px;
    width: 10px;
    height: 10px;
    top: 17px;
    left: 2px;
    display: block;
    background-color: $orange-medium-color;
  }

  @media screen and (max-width: 780px) {
    width: 290px;
    margin-left: 10px;
  }
}

.content__line {
  @include block (698px); 
  @media screen and (max-width: 750px) {
    @include block (320px); 
    margin-top: 26px;
    margin-bottom: 0px;
  }  
  border: 0.5px solid #e6e6e6;
  margin-bottom: 0px;
}

.block__radio {
  margin-right: 5px;
}

.block__textarea {
  display: block;
  width: 298px;
  height: 107px;
  margin-top: 6px;
  resize: none;
  border: 1px solid $gray-medium-color;
  border-radius: 5px;
  padding: 15px;
  @include placeholder {
    color: transparent;
  }
  &:focus {
    outline: none;
    border: 1px solid $blue-medium-color;
  }
  &:hover {
    outline: none;
    cursor: pointer;
  }
  @media screen and (max-width: 780px) {
    width: 260px;
  }  
}

.order-form__footer {
  margin-top: 30px;
}
@mixin message__block ($color1, $color2, $color3) {
  display: none;
  padding: 20px;
  text-align: left;
  line-height: 25px;
  background-color: $color1;
  color: $color2;
  height: 25px;

  .block__closebtn {
    @include closebtn ($color3);
  }
  
  @media screen and (max-width: 780px) {
    position: relative;
    top: -6px;
    padding: 15px 15px 15px 20px;
    margin-left: 14px;
    width: 260px;
    height: 35px;
    font-size: 14px;  
    line-height: 18px; 

  }  
}
.block__warning {
  @include message__block (#fee3cd, #ed9a5e, #ed7d40);
}

.block__error {
  @include message__block (rgb(255, 173, 173), rgb(255, 61, 61), rgb(204, 51, 51));
}

.block__success {
  @include message__block (rgb(165, 248, 165), rgb(34, 170, 34), rgb(29, 133, 29));
}

.wrn {
  border: 1px solid #fc7204;
  @include placeholder {
    color: #b3b3b3;
  }
}