$gray-light-color: #e9f1f7;
$gray-medium-color: #e6e6e6;
$orange-medium-color: #fa7e0d;
$orange-dark-color: #fc7204;
$blue-medium-color: #3dc5ed;


@font-face {
  font-family: pfdintextpro-regular;  
  src: url(../../fonts/pfdintextpro-regular-webfont.woff);
}

@mixin block ($width) {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: $width;
  margin-top: 15px;
  margin-bottom: 15px;
}

@mixin closebtn ($color) {
  margin-left: 15px;
  color: $color;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: darken($color, 20%);
  }
}

body {
  font-family: pfdintextpro-regular;

  font-weight: lighter;
}

#footer__button {
  font-size: 24px;
  width: 200px;
  height: 60px;
  background-color: $orange-medium-color;
  color: white;
  border: 10px solid  $gray-light-color;
  border-radius: 30px;
  margin: 15px;
  outline: none;
}

.header {
  font-size: 21px;
  min-width: 700px;  

  @include block (700px);

  h1 {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 0px;
  }
  p {
    margin: 5px;
  }
  h2 {
    margin-top: 5px;
    font-weight: lighter;
    font-size: 34px;
  }
  @media screen and (max-width: 780px) {
    min-width: 320px;
    @include block (320px);
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

.order-form {
  @include block (700px);
  @media screen and (max-width: 780px) {
    @include block (320px);
  }
}

.order-form__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  @media screen and (max-width: 780px) {
    display: flex;
    flex-direction: column; 
  }
}

.block {
  text-align: left;
  display: flex;
  flex-direction: column;    
  min-width: 330px;
  div {      
    margin-top: 3px;
    border: 1px solid $gray-medium-color;
    border-left: none;
    border-right: none;    
    height: 50px;
    width: 330px;
    line-height: 48px;
    @media screen and (max-width: 780px) {
      width: 320px;
    }  

    label {
      padding-left: 5px;
      padding-right: 30px;
    }
  }
}

.content__line {
  @include block (720px); 
  @media screen and (max-width: 780px) {
    @include block (320px); 
  }  
  border: 1px solid $gray-medium-color;
}

.block__label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.block__input {
  display: block;
  margin-top: 3px;
  padding-left: 15px;
  font-size: 16px;
  height: 48px;
  width: 300px;
  border: 1px solid $gray-medium-color;
  border-radius: 5px;
  &:focus {
    outline: none;
    border: 1px solid $blue-medium-color;
  }
  &:hover {
    outline: none;
    border: 1px solid lighten($blue-medium-color, 20%);
  }
  @media screen and (max-width: 780px) {
    width: 305px;
  }  
}

.block__radio {
  padding-right: 20px;
}

.block__textarea {
  display: block;
  width: 300px;
  height: 102px;
  margin-top: 3px;
  resize: none;
  border: 1px solid $gray-medium-color;
  border-radius: 5px;
  padding: 15px;
  &:focus {
    outline: none;
    border: 1px solid $blue-medium-color;
  }
  @media screen and (max-width: 780px) {
    width: 292px;
  }  
}

.order-form__footer {
  margin-top: 30px;
}

.block__warning {
  display: none;
  padding: 20px;
  background-color: #fee3cd;
  color: #ff8645;

  .block__closebtn {
    @include closebtn (#ff8645);
  }
  @media screen and (max-width: 780px) {
    min-width: 280px;
  }  
}

.block__error{
  display: none;
  padding: 20px;
  background-color: rgb(255, 173, 173);
  color: rgb(255, 61, 61);

  .block__closebtn {
    @include closebtn (#ff8645);
  }
  @media screen and (max-width: 780px) {
    min-width: 280px;
  }  
}

.block__success {
  display: none;
  padding: 20px;
  background-color: rgb(165, 248, 165);
  color: rgb(34, 170, 34);

  .block__closebtn {
    @include closebtn (#ff8645);
  }
  @media screen and (max-width: 780px) {
    min-width: 280px;
  } 
}

.wrn {
  border: 1px solid $orange-dark-color;
}